/* =====================
   GENERAL PAGE STYLES
===================== */

body{
    background-color: #f9f9f9;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 25px 100px;
}

*{
    box-sizing: border-box;
}


/* =====================
   HEADER
===================== */

.intro{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    width: 70%;
    margin:auto;
    margin-top: 70px;
}

.intro h5:first-child{
    text-align: left;
    width: 70%;
    margin:auto;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
}

.shortLine{
    height: 5px;
    background-color: black;
    border: none;
}

/* =====================
   NAVIGATION
===================== */

.topBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    text-align:right;
    font-family: 'Times New Roman', Times, serif;
}

nav a{
    font-size: 20px;
    margin-right: 50px;
    text-decoration: none;
    color:black;
}


/* =====================
   MAIN CONTENT
===================== */
.profile{
    margin-top: 130px;
    text-align: center;
}

.profile h2{
    font-size: 40px;
}

.profile p{
    text-align: center;
    width: 70%;
    margin:auto;
}

.experience{
    margin-top: 130px;
}

ul{
    list-style-type:square;
}


/* =====================
   Table
===================== */
table{
    width: 70%;
    margin:auto;
    margin-top: 120px;
}

table caption {
    font-size: 35px;
}

th, td {
    padding: 15px;
}

table {
    text-align: center;
}

/* =====================
   FOOTER
===================== */
footer{
    text-align:center;
}

#currentDate{
    font-style: italic;
}


/* =====================
   CAREER GOALS PAGE
===================== */
#contactMe {
    margin-top: 50px;
}

#hobby {
    margin-top: 50px;
}

.media {
    text-align: center;
    margin: auto;
}

/* =====================
   Form
===================== */
.contact{
    width: 70%;
    margin:auto;
}

.contact form{
    border:1px solid #ccc;
    border-radius:12px;
    padding:35px;
    background-color:white;
}



